@font-face{
  font-family:'FontAwesome';
  src:url('fonts_custom/fontawesome-webfont.eot?v=4.7.0');
  src:url('fonts_custom/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('fonts_custom/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('fonts_custom/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('fonts_custom/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('fonts_custom/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight:normal;
  font-style:normal
}
.l-btn-icon,.menu-icon{
	display:inline-block;
	text-align: center;
  font:normal normal normal 14px/1 FontAwesome;
  /*font-size:inherit;*/
  text-rendering:auto;
  /*line-height: 18px;*/
  height: 24px;
  line-height: 24px;
  margin-top: -12px;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.icon-ok{
	background: transparent;
}
.icon-ok:before{
	content: '\f058';
}
.icon-cancel{
	background: transparent;
}
.icon-cancel:before{
	content: '\f056';
}
.icon-export{
	/*background:url('icon_custom/export.png') no-repeat;*/
	background: transparent;
}
.icon-export:before{
	content: '\f019';
}
.icon-import{
	/*background:url('icon_custom/import.png') no-repeat;*/
	background: transparent;
}
.icon-import:before{
	content: '\f093';
}
.icon-del{
	/*background:url('icon_custom/icon_del.png') no-repeat;*/
	background: transparent;
}
.icon-del::before{
	content: '\f00d';
}
.icon-add{
	/*background:url('icon_custom/edit_add.png') no-repeat;*/
	background: transparent;
}
.icon-add:before{
	content: '\f067';
}
.icon-add-circle{
	/*background:url('icon_custom/edit_add.png') no-repeat;*/
	background: transparent;
}
.icon-add-circle:before{
	content: '\f055';
}
.icon-edit{
	background: transparent;
}
.icon-edit:before{
	content: '\f044';
}
.icon-reload{
	background: transparent;
}
.icon-reload:before{
	content: '\f021';
}
.icon-enable{
	/*background:url('icon_custom/icon_enable.png') no-repeat;*/
	background: transparent;
}
.icon-enable:before{
	content: '\f058';
}

.icon-disable{
	/*background:url('icon_custom/icon_disable.png') no-repeat;*/
	background: transparent;
}
.icon-disable:before{
	content: '\f056';
}
.icon-cloud{
	background:url('icon_custom/icon-cloud.png') no-repeat;
	background-size: 16px;
}
.icon-earth{
	background:url('icon_custom/icon-earth.png') no-repeat;
	background-size: 16px;
}
.icon-threeP{
	background:url('icon_custom/icon-threeP.png') no-repeat;
	background-size: 16px;
}
.icon-set{
	/*background:url('icon_custom/set.png') no-repeat center center;*/
	background: transparent;
}
.icon-set:before{
	content: '\f013';
}
.icon-no{
	background:url('icon_custom/no.png') no-repeat;
}
.icon-confirm{
	/*background:url('icon_custom/confirm.png') no-repeat;*/
	background: transparent;
}
.icon-confirm:before{
	content: '\f00c';
}
.icon-lock{
	background: transparent;
}
.icon-lock:before{
	content: '\f023';
}
.icon-unlock{
	background: transparent;
}
.icon-unlock:before{
	content: "\f09c";
}
.icon-key{
	background: transparent;
}
.icon-key:before{
	content: "\f084";
}
.icon-app{
	background:url('icon_custom/application.png') no-repeat;
}
.icon-log{
	background:url('icon_custom/log.png') no-repeat;
}
.icon-clear{
	background:url('icon_custom/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icon_custom/edit_remove.png') no-repeat center center;
}
.icon-crone{
	background:url('icon_custom/crone.png') no-repeat;
}
.icon-priority{
	/*background:url('icon_custom/icon_priority.png') no-repeat;*/
	background: transparent;
}
.icon-priority:before{
	content: "\f0dc";
}
.icon-match_num_clear{
	background:url('icon_custom/clear_custom.png') no-repeat 0 5px;
	/*background: transparent;*/
}
/*.icon-match_num_clear:before{
	content: "\f014";
}*/
.icon-search{
	background: transparent;
}
.icon-search:before{
	content: '\f002';
}
.icon-nbc-log-pre-day{
	/*background:url('icon_custom/nbc_log_pre.png') no-repeat;*/
	background: transparent;
}
.icon-nbc-log-pre-day:before{
	content: '\f0aa';
}
.icon-nbc-log-next-day{
	/*background:url('icon_custom/nbc_log_next.png') no-repeat;*/
	background: transparent;
}
.icon-nbc-log-next-day:before{
	content: '\f0ab';
}
.icon-qos-open{
	/*background:url('icon_custom/qos_open.png') no-repeat;*/
	background: transparent;
}
.icon-qos-open:before{
	content: '\f00a';
}
.icon-qos-closed{
	/*background:url('icon_custom/qos_open.png') no-repeat;*/
	/*background-position:-20px 0px;	*/
	background: transparent;
}
.icon-qos-closed:before{
	content: '\f0ca';
}
.icon-data-transmission{
	background:url('icon_custom/icon-data-transmission.png') no-repeat;
}
.icon-today{
	background:url('icon_custom/icon-today.png') no-repeat;
}
.icon-three-days{
	background:url('icon_custom/icon-three-days.png') no-repeat;
}
.icon-week{
	background:url('icon_custom/icon-week.png') no-repeat;
}
.icon-one-month{
	background:url('icon_custom/icon-one-month.png') no-repeat;
}
.icon-three-month{
	background:url('icon_custom/icon-three-month.png') no-repeat;
}
.datagrid-row-expand {
  background: url('icon_custom/datagrid_icons.png') no-repeat -35px center;
}
.datagrid-row-collapse {
  background: url('icon_custom/datagrid_icons.png') no-repeat -55px center;
}
.panel-tool-close {
    background: url(icon_custom/panel_tools.png) no-repeat -16px 0px;
}
.icon-selected{
	background:url('icon_custom/icon-selected.png') no-repeat center;
}
.icon-unselected{
	background:url('icon_custom/icon-unselected.png') no-repeat center;
}
.icon-reset{
	/*background:url('icon_custom/confirm.png') no-repeat;*/
	background: transparent;
}
.icon-reset:before{
	content: "\f021";
}
.icon-patch{
	background:url('icons/icon-patch.png') no-repeat center center;
}